::-webkit-scrollbar{width:6px!important}::-webkit-scrollbar-track{background-color:#243548!important}::-webkit-scrollbar-thumb{background-color:#f29500!important}::-webkit-scrollbar-thumb:window-inactive{opacity:.1!important}

.geral{min-height: 100%; position: relative;}

.content {overflow:hidden;}

.navbar{margin-bottom: 0px;}
.container .home h1{text-align: center;}
.container .home {text-align: center;}

.alert{color: #FF0000;}

.voltar{margin-left: 10px;}

.tags ul
{
    padding: 0; margin: 0;
    /*-webkit-column-count: 3; /* Chrome, Safari, Opera
    -moz-column-count: 3; /* Firefox
    column-count: 3;*/

}
.tags ul li{
    padding: 5px;
    color: #09597E;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: .9em;
    display: inline;
}

.tags h3{color: #999; font-size: 1.2em;}

.table{margin-bottom: 0; margin-top: 0;}

.cart_menu .footer-table{font-size: 1.3em;}

.painel-login {
    margin-bottom: 100px;
    margin-top: 50px;
}

table td.total-cart{font-weight: bold; font-size: 1.3em;}

.nome-logado{color: #fff; margin-right: 15px;}

#accordion{margin-bottom: 200px;}

#accordion .panel-title ul{list-style: none; padding: 0; margin: 0;}
#accordion .panel-title ul li{display: inline;}
#accordion .panel-title ul li.status{width: 300px; text-align: left;}

.panel-default>.panel-heading{overflow: hidden;}

h4.panel-title{margin-top: 10px;}

span.status-pedido{color: #ff0000; font-weight: 600;}

